<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Deltek.Framework.Frame.Client.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Deltek.Framework.Controls.Client.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Deltek.Framework.Frame.Client.MySettings>
      <setting name="Deltek_Framework_Frame_Client_ErrorTracking_clsErrorTracking"
               serializeAs="String">
        <value>http://error.deltek.com/DeltekVisionErrorTracking/errortracking.asmx</value>
      </setting>      
    </Deltek.Framework.Frame.Client.MySettings>
    <Deltek.Framework.Controls.Client.MySettings>
      <setting name="enableDeltekErrorLogging" serializeAs="String">
        <value>Y</value>
      </setting>
      <setting name="WebTimeout" serializeAs="String">
        <value>7200000</value>
      </setting>
    </Deltek.Framework.Controls.Client.MySettings>
  </applicationSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="compressionChannel" type="CompressionChannel.CompressionBEExtentionElement, CompressionChannel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false"
       logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"
       maxMessagesToLog="30000">
        <filters>
          <clear />
        </filters>
      </messageLogging>
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CertificateValidationBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust"
                revocationMode="Online" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="makeCallStreamBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="customBindingWindows">
          <compressionChannel />
          <security>
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="customBindingAnonymous">
          <compressionChannel />
          <security authenticationMode="AnonymousForSslNegotiated">
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding>
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="makeCallStringBindingMessageWindows" closeTimeout="00:01:30"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:20:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="makeCallStringBindingMessageAnonymous" closeTimeout="00:01:30"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security>
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/visionluna/methodcallstringwindows.svc"
        binding="customBinding" bindingConfiguration="customBindingWindows"
        contract="remoteServerStringWindows.IMethodCallString" name="makeCallStringEndPointMessageWindows" />
      <endpoint address="http://localhost/visionluna/methodcallstream.svc"
        binding="basicHttpBinding" bindingConfiguration="makeCallStreamBinding"
        contract="remoteServerStream.IMethodCallStream" name="makeCallStreamEndPoint" />
      <endpoint address="http://localhost/visionluna/methodcallstringanon.svc"
        behaviorConfiguration="CertificateValidationBehavior" binding="customBinding"
        bindingConfiguration="customBindingAnonymous" contract="remoteServerStringAnon.IMethodCallString"
        name="makeCallStringEndPointMessageAnonymous" />
    </client>
  </system.serviceModel>
  <system.net>
    <!-- Turn off the send of the Expect header on outbound POST requests -->
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>
